.header-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
    width: 100%;
    height: 55px;
	font: bold 16px sans-serif;
}
.header-distributed .header-logo {
    color:  #ffffff;
    font: normal 28px 'Cookie', cursive;
    margin: 0;
    padding: 10px;
}
.header-distributed .header-logo span{
    color:  #5383d3;
}