::-webkit-scrollbar {
    display: none;
}

.chat-room .kiri-side {
    /* width: 20%; */
    background: #e5e8ef;
}

.chat-room .kiri-side .user-head {
    background: #2980b9;
    color: #FFFFFF;
    min-height: 70px;
    padding: 15px;
}

.chat-room .user-head i {
    float: left;
    font-size: 40px;
    margin-right: 10px;
}

.chat-room .user-head h3 {
    margin: 6px 0 0 0;
    font-weight: 100;
    letter-spacing: 1px;
}

.chat-room-head {
    background: #3498db;
    color: #FFFFFF;
    min-height: 70px;
    padding: 15px;
}

.chat-room-head h3 {
    margin: 5px 0 0;
    font-weight: 100;
    letter-spacing: 1px;
    display: inline-block;
}

.chat-room-head .search-btn {
    width: 20px;
    box-shadow: none;
    padding:0 5px 0 35px;
    border: none
}

.chat-room-head .search-btn:focus {
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    /*background: #01a6b2;*/
    font-weight: 300;
}

.chat-room-head .search-btn:focus::-moz-placeholder {
    color: #fff;
}

.chat-room-body {
    height: 200px ;
    overflow-y: scroll;
}

.chat-room-footer {
    width: 100%;
    border-bottom: 1px solid #eaebee;
    background: #f6f6f6;
    padding: 15px;
    width: 100%;
    border-top: 1px solid #eaebee;
}

ul.chat-list li a {
    color: #6a6a6a;
    display: block;
    padding: 15px;
    font-weight: 300;
    text-decoration: none;
}
ul.chat-list li a:hover, ul.chat-list li.active a {
    color: #00a9b4;
    background: #f2f4f7;
}

ul.chat-list li h4 {
    padding: 17px 15px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #D5D7DE;
}

ul.chat-list li h4 i {
    padding-right: 5px;
}

ul.chat-list li a span {
    padding-left: 10px;
}

ul.chat-list li a i.fa-times {
    color: #9fa3b0;
}

ul.chat-list li.active {
    color: #00a9b4;
    background: #f2f4f7;
}

ul.chat-list {
    border-bottom: 1px solid #d5d7de;
    padding-left: 0;
    list-style: none;
}

.group-rom {
    width: 100%;
    float: left;
    border-bottom: 1px solid #eaebee;
}

.group-rom .first-part,
.group-rom .second-part,
.group-rom .third-part {
    float: left;
    padding: 15px;
}

.group-rom .second-part{
    width: 90%;
}

.group-rom .second-part.odd {
    background: #f7f8fa;
}

.group-rom .third-part{
    width: 10%;
    min-width: 50px;
    color: #d4d3d3;
}

.chat-txt {
    float: left;
    margin-right: 5px;
}




.dropbtn {
    background-color: #2980b9;
    color: white;
    border-color: #2980b9;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 38px;
    right: 146px;
    z-index: 10;
    margin-right: 0;
}

.dropup-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content p:hover {
    background-color: #ccc;
}

.dropup:hover .dropbtn {
    background-color: #3498DB;
    border-color: #3498DB;
}