<nav class="navbar navbar-inverse navbar-fixed-top header-distributed" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand header-logo" id="home" href="/welcomePage">Cloud<span>IT</span></a>
        </div>
        <ul class="nav navbar-nav" id="navBarList">
            <li><a id="search" href="/searchPage">Search</a></li>
            <li><a id="messages" href="/messagesPage">Messages</a></li>
            <li><a id="jobs" href="/jobsPage">MyJobs</a></li>
            <li><a id="profile" href="/profilePage">Profile</a></li>
            <li><a id="about" href="/aboutPage">About Us</a></li>
        </ul>
    </div>
</nav>